html {
    scroll-behavior: smooth;
}

.section-unearth-loop {
    position: relative;
    background-image: url("./assets/Benefits\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-unearth-loop .scrollable-section {
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Edge, Internet Explorer */
    scrollbar-width: none;
    /* Firefox */
}

.section-unearth-loop .scrollable-section.start-scroll{
    overflow: auto;
    overflow-y: scroll;
}

.section-unearth-loop .scrollable-section::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.section-unearth-loop .benefits-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 320px;
}

.section-unearth-loop .fixed-loop {
    position: absolute;
    width: 50%;
    max-width: 600px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.section-unearth-loop .fade {
    margin: 50px;
    padding: 50px;
    opacity: 1;
}
@media(max-width: 900px){
    .section-unearth-loop img{
        width: 100% !important;
    }
}


/*
@media(max-width:900px) {
    .section-unearth-loop .benefits-image {
        height: 550px;
    }
}

.section-unearth-loop .benefits-text {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 26%;
}

.section-unearth-loop .benefits-text h2 {
    font-size: 1.5rem;
}

.section-unearth-loop .benefits-text p {
    font-size: 0.9rem;
}

@media(max-width:900px) {
    .section-unearth-loop .benefits-text {
        top: 23%;
    }
    .section-unearth-loop .benefits-text h2 {
        font-size: 16px;
    }
    .section-unearth-loop .benefits-text p {
        font-size: 12px;
    }
} */