<div class="section-unearth-loop" id="section-test" style="background-image: url('{{ stylesheet_directory_uri }}/assets/Benefits\ background.jpg')">
    <img src="./assets/magnifier.png" class="fixed-loop" alt="">
    <div class="scrollable-section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="benefits-text">
                        <h2>Unearth Hidden Losses <br> and Unseen Profit <br> Opportunities</h2>
                        <p class="bold-text">Profit Peaks and Drains are not <br> always visible when using legacy <br> standars accouting methods.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="benefits-text">
                        <h2>Unearth Hidden Losses <br> and Unseen Profit <br> Opportunities</h2>
                        <p class="bold-text">Profit Peaks and Drains are not <br> always visible when using legacy <br> standars accouting methods.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="benefits-text">
                        <h2>Unearth Hidden Losses <br> and Unseen Profit <br> Opportunities</h2>
                        <p class="bold-text">Profit Peaks and Drains are not <br> always visible when using legacy <br> standars accouting methods.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>