html {
    scroll-behavior: smooth;
}

.section-unearth-loop {
    position: relative;
    background-image: url("./assets/Benefits\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-unearth-loop .scrollable-section .benefits-text h2{
    font-size: 1.7rem !important;
}
.section-unearth-loop .scrollable-section .benefits-text p{
    font-size: 0.9rem !important;
}
.section-unearth-loop .scrollable-section {
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Edge, Internet Explorer */
    scrollbar-width: none;
    /* Firefox */
}

.section-unearth-loop .scrollable-section.start-scroll{
    overflow: auto;
    overflow-y: scroll;
}

.section-unearth-loop .scrollable-section::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.section-unearth-loop .benefits-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 280px;
}

.section-unearth-loop .fixed-loop {
    position: absolute;
    width: 50%;
    max-width: 600px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.section-unearth-loop .fade {
    margin: 50px;
    padding: 50px;
    opacity: 1;
}
@media(max-width: 900px){
    .section-unearth-loop img{
        width: 100% !important;
    }
    .section-unearth-loop .benefits-text {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        margin-left: 161px;
    }
    .section-unearth-loop .scrollable-section .benefits-text h2{
        font-size: 1rem !important;
    }
    .section-unearth-loop .scrollable-section .benefits-text p{
        font-size: 0.7rem !important;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .section-unearth-loop .benefits-text {
        margin-left: 70px;
    }
}
@media (min-width: 1200px) and (max-width: 1299px) {
    .section-unearth-loop .benefits-text {
        margin-left: 142px;
    }
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .section-unearth-loop  .benefits-text {
        margin-left: 120px;
    }
}
@media (min-width: 1400px) and (max-width: 1499px) {
    .section-unearth-loop .benefits-text {
        margin-left: 170px;
    }
}
@media (min-width: 1500px) and (max-width: 1599px) {
    .section-unearth-loop .benefits-text {
        margin-left: 150px;
    }
}
@media (min-width: 1600px) and (max-width: 1699px) {
    .section-unearth-loop  .benefits-text {
        margin-left: 100px;
    }
}

@media (min-width: 1700px) and (max-width: 1799px) {
    .section-unearth-loop  .benefits-text {
        margin-left: 50px;
    }
}

/*
@media(max-width:900px) {
    .section-unearth-loop .benefits-image {
        height: 550px;
    }
}

.section-unearth-loop .benefits-text {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 26%;
}

.section-unearth-loop .benefits-text h2 {
    font-size: 1.5rem;
}

.section-unearth-loop .benefits-text p {
    font-size: 0.9rem;
}

@media(max-width:900px) {
    .section-unearth-loop .benefits-text {
        top: 23%;
    }
    .section-unearth-loop .benefits-text h2 {
        font-size: 16px;
    }
    .section-unearth-loop .benefits-text p {
        font-size: 12px;
    }
} */