
.parallax-section-unearth {
    padding-top: 100px;
    height: 150vh;
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-size: cover;
    background-size: 100% 200%;
}

.parallax-section-unearth{
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}
.parallax-section-unearth::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.parallax-section-unearth .parallax-content .parallax-box{
    background-color: white;
    box-shadow: 0 0 20px #333;
    max-width: 600px;
    margin: 20px 20px;
    padding: 50px 25px;
}

.parallax-section-unearth .parallax-content {
    z-index: 3;
    color: black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax-section-unearth p{
    text-align: center;
    font-size: 1rem;
    color: #022b46;
}

.parallax-section-unearth h1{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    color: #022b46;
}

