<div class="section-unearth-loop" id="section-test" style="background-image: url('{{ stylesheet_directory_uri }}/assets/Benefits\ background.jpg')">
    <img src="{{ stylesheet_directory_uri }}/assets/magnifier.png" class="fixed-loop" alt="">
    <div class="scrollable-section position-relative">
        <div class="container">
            <div class="row">
                {% for loop in loop_content %}
                <div class="col-md-12">
                    <div class="benefits-text">
                        <h2>{{ loop['loop_title'] }}</h2>
                        <p class="bold-text">{{ loop['loop_description'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>