<div class="section-news-events py-5">
    <div class="container">
        <h2 class="text-center">News & Events</h2>
            <div class="row mt-5 px-4 px-md-0">
                <div class="col-12 card py-3 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-3 my-5 my-md-0 text-center">
{#                            <img class="w-50" src="./assets/Mdm.logo.png" alt="">#}
                        </div>
                        <div class="col-md-8 px-4 px-md-0">
                            <h4 class="bold-800">How to Grow Your Profit Core</h4>
                                <h6 class="bold-800">-By Jonathan byrnes and John Wass</h6>
                                <p>Three steps distribution managers can follow to boost the profitability of your existing <br>book of business from Profit Isle's Jonathan Byrnes and John Wass.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card py-3 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-3 my-5 my-md-0 text-center">
{#                            <img class="w-50" src="./assets//MIT_StartupExchange.jpg" alt=""> #}
                        </div>
                        <div class="col-md-8 px-4 px-md-0">
                            <h4 class="bold-800">How to Grow Your Profit Core</h4>
                                <h6 class="bold-800">-By Jonathan byrnes and John Wass</h6>
                                <p>Three steps distribution managers can follow to boost the profitability of your existing <br>book of business from Profit Isle's Jonathan Byrnes and John Wass.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card py-3 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-3 my-5 my-md-0 text-center">
{#                            <img class="w-50" src="./assets/logo_8202@2x.png" alt="">#}
                        </div>
                        <div class="col-md-8 px-4 px-md-0">
                            <h4 class="bold-800">How to Grow Your Profit Core</h4>
                                <h6 class="bold-800">-By Jonathan byrnes and John Wass</h6>
                                <p>Three steps distribution managers can follow to boost the profitability of your existing <br>book of business from Profit Isle's Jonathan Byrnes and John Wass.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>