<section class="section-connect container-fluid">
    <div class="row text-center  align-items-center arrow-container">
        <div class="col-12 col-xxl-6 green-box p-4">
            <div class="row align-items-center justify-content-center" role="button">
                <h3 class="col-md-5 bold-800">Meet Our Team </h3>
                <img class="arrow-1 col-2 col-md-1" src="{{ stylesheet_directory_uri }}/assets/arrow.svg" alt="">
            </div>
        </div>
        <div class="col-12 col-xxl-6 blue-box p-4">
            <div class="row align-items-center justify-content-center" role="button">
                <h3 class="col-md-4 bold-800">Contact Us</h3>
                <img class="arrow-1 col-2 col-md-1" src="{{ stylesheet_directory_uri }}/assets/arrow.svg" alt="">
            </div>
        </div>
    </div>
</section>