<div class="section-podcast-signup container text-center py-5">
    <h4 class="blue-text bold-800">{{ podcast_title }}</h4>
    <button class="btn btn-hover2 mt-4 px-3 py-2 bold-800">{{ podcast_button }}</button>
</div>