.section-beyond-average {
    /*background-image: url('./assets//Beyond\ Average\ Background.jpg');*/
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.section-beyond-average .absolute-position {
    position: absolute;
    top: 10%;
}

.section-beyond-average .how-it-works {
    margin-top: 5rem;
}

@media(max-width:900px) {
    .section-beyond-average .how-it-works {
        margin-top: 3.5rem;
    }
}