<div class="section-podcast-series">
    <div class="container">
        <div class="row py-5 align-items-center">
            <div class="col-md-4">
                <img class="w-100 podcast-image" src="{{ stylesheet_directory_uri }}/assets/podcast-section.png" alt="">
            </div>
            <div class="col-md-8 ps-md-5 ps-0">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center mt-4 mt-md-0">
                        <img src="{{ stylesheet_directory_uri }}/assets/entreprise insights logo.png" alt="">
                    </div>
                    <div class="col-md-6 px-4 px-md-0 mt-4 mt-md-0">
                        <h4 class="bold-800 mb-0">Entreprise Profit Management</h4>
                        <p class="custom-text bold-800 mb-0">
                            INSIGHTS
                        </p>
                        <p class="float-end"> by Jonathan Byrnes</p>
                    </div>
                </div>
                <div class="container">
                    <h5 class="blue-text mt-4 bold-800">Choose the season and the episode</h5>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="dropdown">
                                <button class="btn btn-lg bg-white dropdown-toggle px-5 py-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Season 2
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="dropdown">
                                <button class="btn btn-lg px-5 py-2 bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Episode 6
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sed libero voluptate tenetur ad ratione autem necessitatibus? Ipsum, vitae. Consectetur, ad accusantium eos impedit eum, ratione dolores nesciunt repellat quod
                            sed quaerat corrupti neq <br> <br> ue pariatur autem error, dolor excepturilorem50 Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam soluta quaerat sequi numquam corrupti consectetur
                            nemo ratione! Veritatis voluptate quisquam unde eum est quo quidem deserunt repudiandae? Quidem porro, similique quo nihil dolorum corrupti incidunt! Reiciendis obcaecati ratione, natus impedit id culpa architecto at tenetur
                            deleniti, porro fuga! Molestiae, illum. <br> <br> porro eligendi! Perspiciatis officiis saepe aliquam obcaecati consequuntur nostrum delectus magni?</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>