<div class="section-trusted-by container my-4">
    <h2 class="text-center blue-text">Trusted by</h2>
    <div class="row">
        {% for trustedBy in trusted_by_list %}
            <div class="col-6 col-md-3 my-3 hover-effect " role="button">
                <img class="w-100" src="{{ trustedBy['trusted_by_image'] }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>
