<div class="section-header-map container">
    <p class="blue-text py-5">{{ text }}</p>
</div>
<div class=" container text-center position-relative">
    <img class="w-100" src="{{ image }}" alt="">
    <img class="position-absolute top-50 start-50 translate-middle" src="{{ cursor_image }}" alt="">
</div>