.section-messy-data {
    position: relative;
    top: -150px;
}

.section-messy-data .chart-background {
    background-color: white;
}

.section-messy-data .card {
    border-radius: 35px;
    background-color: #022B46;
    width: 100%;
}

.section-messy-data .card-main {
    position: relative;
}

.section-messy-data .card-position {
    position: absolute;
    top: 23%;
    left: 45%;
}

@media(max-width:900px) {
    .section-messy-data .card-position {
        top: 23%;
        left: 48%;
    }
    .section-messy-data .messy-data {
        top: -130px;
    }
    .section-messy-data .absolute-position2 {
        width: 80% !important;
    }
}